@import 'mixins';

@import 'common/base';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'common/sizing';
@import 'common/utils';

@import 'element-variables';

@import 'components/heading';
@import 'components/button';
@import 'components/drawer';
@import 'components/card';
@import 'components/input';

@import 'layouts/admin';
@import 'layouts/auth';

