$spaces: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);
$sides: (top, right, bottom, left);

@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space/4}rem;
  }
  .p-#{$space} {
    padding: #{$space/4}rem;
  }

  .mx-#{$space} {
    margin: 0 #{$space/4}rem 0 #{$space/4}rem;
  }
  .px-#{$space} {
    padding: 0 #{$space/4}rem 0 #{$space/4}rem;
  }

  .my-#{$space} {
    margin: #{$space/4}rem 0 #{$space/4}rem 0;
  }
  .py-#{$space} {
    padding: #{$space/4}rem 0 #{$space/4}rem 0;
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space/4}rem !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space/4}rem !important;
    }
  }
}
