$primary-color: 217, 100%;
$primary-color-lightness: 56%;

// $vs-secondary = 121, 49, 177
// $vs-danger = 255, 71, 87
// $vs-success = 70, 201, 58
// $vs-warning = 255,186,0
// $vs-dark = 30, 30, 30
// $vs-light = 245, 245, 245

@mixin color-variation($name, $h, $s, $l) {
  --#{$name}-color-hu: #{$h}, #{$s};
  --#{$name}-color-lightness: #{$l};

  --#{$name}-color: hsl(var(--#{$name}-color-hu), var(--#{$name}-color-lightness));
  --#{$name}-color-lighten: hsl(var(--#{$name}-color-hu), calc(var(--#{$name}-color-lightness) + 10%));
  --#{$name}-color-darken: hsl(var(--#{$name}-color-hu), calc(var(--#{$name}-color-lightness) - 10%));
}
