@mixin el-button-color($name, $text-color, $color, $hover-color, $focus-color, $parent) {
  &--#{$name} {
    --text-color: #{$text-color};
    background-color: #{$color};
    color: var(--text-color);

    &:hover {
      background-color: #{$color} !important;
      color: var(--text-color);
    }

    &:focus {
      background-color: #{$color} !important;
      color: var(--text-color);
    }

    &:disabled {
      cursor: not-allowed;
      filter: brightness(75%);
      background-color: #{$color} !important;
      & span {
        color: var(--text-color);
      }
    }

    &#{$parent}--bold {
      font-weight: 600;
    }

    &#{$parent}--uppercase  {
      text-transform: uppercase;
    }

    &#{$parent}--full {
      width: 100%
    }

    &#{$parent}--hoverable {
      &:not(:disabled):hover {
        background-color: #{$hover-color} !important;
      }
    }

    &#{$parent}--focusable {
      &:not(:disabled):hover {
        background-color: #{$focus-color} !important;
      }
    }
  }
}

.el-button {
  $self: &;
  border: none;
  color: var(--text-color);
  transition: all .2s ease;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.2)!important;

  &:hover {
    color: var(--text-color);
    background: transparent !important;
  }

  &--translatable {
    &:not(:disabled):hover {
      transform: translateY(-4px);
    }
  }

  @each $color in $colors {
    @include el-button-color($color, var(--text-color), var(--#{$color}-color), var(--#{$color}-color-lighten), var(--#{$color}-color-darken), $self);
  }

  @include el-button-color('white', black, white, white, white, $self);
}
