$titles: (1: 2.5, 2: 2, 3: 1.75, 4: 1.5, 5:1.19, 6: 1);

@each $title, $size in $titles {
  h#{$title}.heading {
    margin: 0;
    color: var(--text-color);
    font-weight: 500;
    z-index: 1;
    font-size: #{$size}rem !important;
    line-height: calc(#{$size}rem * 1.1);

    &--bold {
      font-weight: 600;
    }

    &--shaped {
      position: relative;
      display: inline-block;

      &:before, &:after {
        content: "";
        border-radius: 3px;
        position: absolute;
        z-index: -1
      }

      &:before {
        width: 21px;
        height: 21px;
        background-color: var(--primary-color-lighten);
        bottom: -4px;
        left: -8px
      }

      &:after {
        width: 16px;
        height: 16px;
        background-color: var(--primary-color-darken);
        top: -5px;
        left: 11px
      }
    }

  }
}
