#__admin {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);

  #__mobile-navbar {
    display:none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--background-color-darken);
    border-top: 1px solid #282c2f;

    @media only screen and (max-width: 991px) {
      display: block !important;

    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-content: center;
      padding: 0;
      margin: 0;

      li {
        padding: 15px;
        cursor: pointer;
        color: var(--text-grey);
        font-weight: 300;
        transition:.3s ease-in-out;
        display: flex;
        align-items: center;

        &.router-link-exact-active {
          border-radius: 4px;
          color: var(--text-color);
          font-weight:500;
          background-color: var(--primary-color);
          box-shadow: 0 1px 6px 0 rgba(0,0,0,.3)!important;
        }

        svg {
          font-size: 24px;
          margin-right: 0 !important;
        }

        span {
          display: inline-block;
          max-width: 0;
          opacity: 0;
          padding-left: .5em;
          transform: translate3d(-.5em, 0, 0);
          transition: opacity .3s, max-width .3s, transform .3s;
          transition-timing-function: ease-in-out;
        }

        &.router-link-exact-active span {
          opacity: 1;
          max-width: 40px;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  #__sidebar {
    min-height: 100vh;
    background-color: var(--background-color-darken);
    border-right: 1px solid #282c2f;
    box-shadow: inset -5px 0 20px 0 rgba(0,0,0,.18039);

    @media only screen and (max-width: 991px) {
      display: none !important;
    }

    main {
      ul {
        list-style:none;
        padding-inline-start: 0;

        li {
          position:relative;
          z-index:1;
          padding:10px 24px;
          font-size:15px;
          line-height: 28px;
          color: var(--text-grey);
          font-weight: 300;
          cursor: pointer;

          &:before {
            content:"";
            width:100%;
            height:100%;
            position:absolute;
            border-radius:4px;
            left:0;
            top:0;
            z-index:-1;
            transform:translateY(-5px);
            opacity:0;
            transition:.3s ease-in-out;
          }

          &:not(.router-link-exact-active) {
            &:hover {
              color: var(--text-color);

              &:before {
                background-color: var(--primary-color-lighten);
                opacity:1;
                transform:translateY(0)
              }
            }
          }

          &.router-link-exact-active {
            color: var(--text-color);
            font-weight:600;

            &:before {
              background-color: var(--primary-color);
              opacity:1;
              transform:translateY(0)
            }
          }
        }
      }
    }
  }

  #__content {
    min-height: 100vh;
    overflow: auto;
  }
}
