@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

$colors: ('primary', 'secondary', 'success', 'danger', 'warning');

:root {
    @include color-variation('primary', 217, 100%, 56%);
    @include color-variation('secondary', 274, 57%, 44%);
    @include color-variation('success', 127, 65%, 53%);
    @include color-variation('danger', 355, 100%, 64%);
    @include color-variation('warning', 44, 100%, 50%);

  --text-color: white;
  --text-grey: #5a6a76;
  --background-color: #161a1c;
  --background-color-darken: #090a0b;
}
