.flex {
  display: flex
}

.flex-column {
  flex-direction: column
}

.column-reverse {
  flex-direction: column-reverse
}

.flex-end {
  justify-content: flex-end
}

.align-start {
  align-items: flex-start
}

.align-center {
  align-items: center
}

.align-end {
  align-items: flex-end
}

.self-end {
  align-self: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}
