$spaces: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);
$sides: (top, right, bottom, left);
$gap: 3.5;

@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space/$gap}rem;
  }
  .p-#{$space} {
    padding: #{$space/$gap}rem;
  }

  .mx-#{$space} {
    margin-left: #{$space/$gap}rem;
    margin-right: #{$space/$gap}rem;
  }
  .px-#{$space} {
    padding-left: #{$space/$gap}rem;
    padding-right: #{$space/$gap}rem;
  }

  .my-#{$space} {
    margin-top: #{$space/$gap}rem;
    margin-bottom: #{$space/$gap}rem;
  }
  .py-#{$space} {
    padding-top: #{$space/$gap}rem;
    padding-bottom: #{$space/$gap}rem;
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space/$gap}rem !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space/$gap}rem !important;
    }
  }
}
