@each $color in $colors {
  @include text-color($color);
}

.t-center {
  text-align: center
}

.t-right {
  text-align: right
}

.t-left {
  text-align: left
}

.t-justify {
  text-align: justify
}

.t-sm-center {
  @media only screen and (max-width: 991px) {
    text-align: center
  }
}
