.fading-enter-active, .fading-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fading-enter, .fading-leave-active {
  opacity: 0
}

.center {
  margin: auto
}

.cursor-pointer {
  cursor: pointer
}

.hover-y-translate {
  --translate-y: -4px;
  transition: all .2s ease;
  &:hover {
    transform: translateY(var(--translate-y));
  }
}
